<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.civiccloud.rao.record_movie">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:resizeableActivity="true"
        android:allowBackup="false"
        android:supportsRtl="true">

        <activity android:name="com.civiccloud.rao.record_movie.RecordedActivity" android:theme="@style/LaunchTheme"/>
        <activity android:name="com.civiccloud.rao.record_movie.RecordedActivity2" android:theme="@style/LaunchTheme"/>


    </application>
</manifest>
